/build
/assets/data/pics
/assets/data/pics.zip
/assets/data/script
/assets/data/scripts.zip
/assets/data/cards.cdb
/assets/data/expansions
/assets/data/expansions
/assets/data/conf/lflist.conf
/assets/data/conf/strings.conf
